.vs/
x64/
.vcxproj.filters
.vcxproj.user
*.vcxproj.filters
*.vcxproj.user
Variant.cpp
out/
Lesson_12/
Debug/
.exp
.pdb
.json
*.exp
*.pdb
*.json
*.tar

Advanced programming/
DB/
Multithreading/
Patterns/Lesson_3
Qt/Lesson_1/
